# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
    tags: '*'
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9.6", "3.10"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: Build Distribution
      run: |
        python -m pip install --upgrade pip
        python -m pip install build
        python -m build
    - name: Install Test Dependencies
      run: |
        pip install -r test-requirements.txt
        python -m pip install mypy==0.971
        python -m pip install flake8
        mypy --version
    - name: Test
      run: |
        python -m unittest discover -s nionswift_plugin/usim/test/ -p "*_test.py"
        # use mypy -p to work around mypy issue 8944
        mypy --namespace-packages --ignore-missing-imports --follow-imports=silent --strict --no-warn-redundant-casts --no-warn-unused-ignores -p nionswift_plugin.usim
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8'
      with:
        name: distribution
        path: dist
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@master
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags') && matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8'
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
